# Data Inconsistency Fix - Example Notebook

In [ ]:
import pandas as pd

data = {
    'Gender': ['Male ', 'FEMALE', 'm', 'F', 'female', 'Male'],
    'Date of Joining': ['2021/01/01', '01-02-2021', 'Feb 3 2021', '2021-04-05', '03-05-2021', 'April 6, 2021'],
    'Weight': ['70kg', '154lb', '65kg', '160lb', '75', '68kg'],
    'Price': ['$1,000', '$2,500', '3000', '$1,200', '$3,400', '2500']
}

df = pd.DataFrame(data)
df

## Step 1: Standardize Gender Column

In [ ]:
df['Gender'] = df['Gender'].str.strip().str.lower().replace({'m': 'male', 'f': 'female'})
df['Gender']

## Step 2: Convert Date of Joining to DateTime

In [ ]:
df['Date of Joining'] = pd.to_datetime(df['Date of Joining'], errors='coerce')
df['Date of Joining']

## Step 3: Convert Weight to Kilograms

In [ ]:
def to_kg(val):
    val = str(val).strip().lower()
    if 'kg' in val:
        return float(val.replace('kg', '').strip())
    elif 'lb' in val:
        return round(float(val.replace('lb', '').strip()) * 0.453592, 2)
    else:
        return float(val)

df['Weight'] = df['Weight'].apply(to_kg)
df['Weight']

## Step 4: Clean Price Column

In [ ]:
df['Price'] = df['Price'].str.replace(',', '').str.replace('$', '').astype(float)
df['Price']

## Final Cleaned DataFrame

In [ ]:
df