In [ ]:
def Inspecting_Data(df):
   1️⃣ Viewing First & Last Rows
print("First 5 rows:\n", df.head())
print("\nLast 5 rows:\n", df.tail())

# 2️⃣ General Dataset Information
print("\nDataset Info:")
df.info()

# 3️⃣ Summary Statistics
print("\nSummary Statistics:\n", df.describe())

# 4️⃣ Checking Data Types
print("\nData Types:\n", df.dtypes)

# 5️⃣ Shape & Column Names
print("\nShape of DataFrame:", df.shape)
print("\nColumn Names:", df.columns)

# 6️⃣ Checking Missing Values
print("\nMissing Values:\n", df.isnull().sum())

# 7️⃣ Checking Duplicate Rows
print("\nDuplicate Rows Count:", df.duplicated().sum())
print("\nDuplicate Rows:\n", df[df.duplicated()])

# 8️⃣ Unique Values in a Column
print("\nUnique Cities:", df["City"].unique())
print("\nNumber of Unique Cities:", df["City"].nunique())

Mini Guide
1.Import the dataset and explore basic info (nulls, data types).
2.Handle missing values using mean/median/imputation.
3.Convert categorical features into numerical using encoding.
4.Normalize/standardize the numerical features.
5.Visualize outliers using boxplots and remove them

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
#importing Titanic Dataset 
df=sns.load_dataset('titanic')
df.head(2)

print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

In [5]:
# Check missing values
print(df.isnull().sum())

# Drop rows/columns
df.dropna(inplace=True)  

# Fill missing values

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64